{% extends 'base.html.twig' %}

{% block body %}

{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}


<h1>URL SHORTENER</h1>

<h2>Create your short link</h2>

<div>
{{ form_start(form) }}

    <div>
    {{ form_errors(form) }}
    </div>
    <div>
        {{ form_label(form.url) }}
        {{ form_widget(form.url) }}
    </div>

    <div>
        {{ form_widget(form.save) }}
    </div>

{{ form_end(form) }}
</div>
{% endblock %}
